---
---

@charset "utf-8";

// Our variables
$base-font-family: 'apcupmcd', Helvetica, Arial, sans-serif;
$font-path-file-name: /assets/fonts/ApcuPmcdReg;
$base-font-size:   2rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors
$background-color: rgba(255, 255, 255, 1);
$base-color:       rgba(0, 0, 0, 0.7);
$primary-color:      rgba(29, 233, 182, 100);

// Width of the content area
$content-width:    640px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
