/* Reset
================================ */

* {
margin: 0;
padding: 0;
}

:root {
  --pink: rgba(255, 243, 241, 1);
  --mint: rgba(242, 255, 248, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
}

@charset "utf-8";

// Our variables
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  18px;
$base-line-height: 1.5;
$spacing-unit:     30px;
$font-path-file-name: '/assets/fonts/national-2-web-regular';

// Colors
$background-color: var(--pink);
$base-color:       rgba(0, 0, 0, 0.8);
$primary-color:    rgba(56, 60, 255, 1);

// Width of the content area
$content-width:    600px;

// National Import
@font-face {
  font-family: 'national2';
  src: url($font-path-file-name+'.eot');
  src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'),
       url($font-path-file-name+'.woff2') format('woff2'), 
       url($font-path-file-name+'.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'national2';
  src: url($font-path-file-name+'-italic.eot');
  src: url($font-path-file-name+'-italic.eot?#iefix') format('embedded-opentype'),
       url($font-path-file-name+'-italic.woff2') format('woff2'), 
       url($font-path-file-name+'-italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

html {
  font-family: 'national2', sans-serif;
}

body {
  font-size: $base-font-size;
  line-height: 1.5;
  color: $base-color;
  background-color: $background-color;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}

/* Text
================================ */

h1 {
  line-height: 40px;;
}

a {
  color: $primary-color;
  font-weight: normal;
  text-decoration: none;
  
  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

p {
  margin-bottom: 20px;
}

.page-content {
  margin-bottom: 20px;
}

.post-title {
  letter-spacing: -1px;
  font-size: 2em;
  margin-bottom: 16px;
  line-height: 1.2;
}

.post-meta {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 60px;
}

/* Layout
================================ */

.wrapper{
  margin: 30px auto 80px;
  max-width: $content-width;
  overflow: hidden;
}

.primary-header{
  float: right;
  width: 30%
}

@media only screen and (max-width: 670px){
  body{
    font-size: 18px;
  }

  .wrapper {
    margin: 20px 20px 60px;
  }

}

/* Nav
================================ */

.site-title {
  font-size: 22px;
  color: $primary-color;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

nav li {
  list-style: none;
  display: inline;
}

a.site-title:hover {
  border-bottom: none;
}


.page-title {
  margin-bottom: 32px;
}

/* Notes Index 
================================ */

.notes-index-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 16px 0;
  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.notes-index-title {
  font-size: 20px;
  a {
    color: $base-color;
    &:hover {
      border-bottom: none;
      color: $primary-color;
    }
  }
}

.notes-index-date {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin-bottom: 2px;
}



