/* Reset
================================ */

* {
margin: 0;
padding: 0;
}

// base font family
@font-face {
  font-family: apcupmcd ;
  src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
  src: url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
       url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
       url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $base-color;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}




/* Layout
================================ */

.wrapper{
  margin: 60px auto;
  max-width: $content-width;
  overflow: hidden;
}

.primary-header{
  float: right;
  width: 30%
}

@media only screen and (max-width: 670px){
  body{
    font-size: 1.8rem;
  }

  .wrapper {
    margin: 30px 15px;
  }

}

/* Text
================================ */

a {
  color: $primary-color;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

p {
  margin-bottom: 20px;
}

.site-header {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: $primary-color;
}

.page-content {
  margin-bottom: 20px;
}
